NODE_ENV=dev

ADMIN_PASSWORD=sofa123%

MONGO_URL=mongodb://localhost:27017/lesson3
PORT= 5000

JWT_ACCESS_SECRET=secret_word
JWT_REFRESH_SECRET=secret_word_refresh
JWT_ACTION_SECRET=secret_word_action

NO_REPLY_EMAIL=sofaribska@gmail.com
NO_REPLY_PASSWORD=ingqqchaidyamtmo

ALLOWED_ORIGIN=http://localhost:3000;http//localhost:4200;

AWS_S3_REGION=us-east-1
AWS_S3_NAME=june-2021-homework
AWS_S3_ACCESS_KEY=aa
AWS_S3_SECRET_KEY=ff