<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
    <style type="text/css">
     body{
         background-color: lightblue;
         font-size: 20px;
     }
        span{
            color:red;
        }
        a{
            text-decoration: none;
            color:darkblue;
            font-family: "Arial Black";
        }
        a:hover{
         text-shadow: 1px 2px yellow;
        }
    </style>
</head>
<body>
<span>
    {{error}}
</span>
<p>
    You can back to <a href="/registration">{{type}}</a> or <a href="/">main page</a>
</p>
</body>
</html>