<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log In</title>
    <link rel="stylesheet" href="form-style.css">
</head>
<body>
<div class="form-box">
    <form action="/login" method="post">
        <div><span>Username</span><input required type="text" name="username" placeholder="Enter an username"></div>
        <div><span>Password</span><input required type="text" name="password" placeholder="Enter a password"></div>
        <button>Log In</button>
    </form>
</div>
</body>
</html>